:root {
    --primary-color: #1b9ff8;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

img {
    width: 100%;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

ul {
    list-style: none;
}

/* Header */

header {
    width: 100%;
    min-height: 10vh;
    background: #000;
    position: relative;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.nav a {
    width: 6rem;
}

.nav a img {
    max-width: 100%;
}

.nav-btns {
    list-style: none;
}

/* Hero */

.hero {
    width: 100vw;
    height: 80vh;
    background: var(--primary-color) url("../img/hero-bckgr.jpg") no-repeat top center/cover;

    position: relative;
}

.hero-arrow {
    color: #fff;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Homepage */

.homepage {
    width: 100%;
    position: relative;
}

.homepage::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    background: url('../img/divider-up-02.png') no-repeat center bottom;
}

.homepage-infoContent {
    width: 100%;
}

/* Anywhere section */

.anywhere {
    width: 100%;
    position: relative;
}

.anywhere::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    background: url('../img/divider-up-02.png') no-repeat center bottom;
}

.anywhere-list {
    width: 100%;
    justify-content: flex-start;
}

.anywhere-list-element {
    margin-bottom: 1rem;
    font-weight: 100;
}

.anywhere-container {
    width: 90%;
    margin-top: 3rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
}

.anywhere-img {
    width: 100%;
    box-shadow: 3px 3px 4px #ddd, -3px -3px 8px #ddd;
}

.anywhere-img-header {
    width: 100%;
    height: 1.2rem;
    background: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 1px 5px;
}

.anywhere-img-header-dot {
    width: .2rem;
    height: .2rem;
    border-radius: 100%;
    display: inline-block;
}

.anywhere-img img {
    width: 100%;
}

/* Protect section */
.protect {
    width: 100%;
    height: 60vh;
    background: #eee url('../img/hero-memories-03.jpg') no-repeat center top;
}

/* Create section */
.create {
    width: 100%;
    height: 90vh;
    color: #ffffff;
    background: #eee url('../img/hero-experience-08.jpg') no-repeat center left/cover;
}

.create-list {
    margin-top: 1rem;
}

.create-list-element {
    margin: 1.75rem 0 0.5rem 0;
    display: inline-block;
}

.create-list-element i {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 1rem;
    display: inline-block;
}

.create-list-element p {
    width: 75%;
    padding-left: 1rem;
    text-align: left;
    display: inline-block;
}

/* Posibilities section */

.posibilities {
    width: 100%;
    background: #eee;
}

.posibilities-pro,
.posibilities-rookie {
    width: 100%;
    position: relative;
    margin-top: 5rem;
}

.posibilities-pro::before,
.posibilities-rookie::before {
    width: 100%;
    content: '';
    width: 130px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.posibilities-pro::before {
    background: url('../img/homepage-10.png') no-repeat -10px -542px;
    top: -8%;
}

.posibilities-rookie::before {
    background: url('../img/homepage-10.png') no-repeat -143px -542px;
    top: 0;
}

/* Upload Section */

.upload {
    width: 100%;
}

.upload-icons {}

.upload-icons-appStore {
    width: 163px;
    height: 52px;
    float: left;
    text-indent: -4515px;
    background: url('../img/homepage-10.png') no-repeat -10px -674px;
    margin: 0 5px;
    border-radius: 5px;
}

.upload-icons-googlePlay {
    width: 163px;
    height: 52px;
    float: left;
    text-indent: -4515px;
    background: url('../img/homepage-10.png') no-repeat -182px -674px;
    margin: 0 5px;
    border-radius: 5px;
}

/* Dots */

.red {
    background: red;
}

.orange {
    background: yellow;
}

.green {
    background: green;
}

/* Container */

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

/* Text Styles */

.text-xl {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.text-sm {
    font-size: .3rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-title {
    font-size: 22px;
    font-weight: bold;
    color: #111;
    margin-top: 3rem;
    text-align: center;
}

.text-description {
    font-size: 16px;
    line-height: 2;
    color: #222;
    margin: 0.75rem auto;
}

.text-dark {
    color: #000;
}

.text-blue {
    color: var(--primary-color);
}

.text-light {
    font-weight: 100;
}

.text-bold {
    font-weight: bold;
}


/* Buttons */

.btn {
    width: .5rem;
    height: 1.75rem;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: .75rem;
    padding: 0.5rem;
    border-radius: .25rem;
}

.btn-login {}

.btn-start {
    background: var(--primary-color);
}

.btn-hero {
    width: 16rem;
    height: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    background: var(--primary-color);
    margin: 1rem 0;
    border-radius: 0.25rem;
}